.genreComponent {
    font-size: xx-small;
    background-color: #000;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(52, 51, 51, 0.5);   
    border: 1px solid grey;
    border-radius: 0.5em;
    color: #fff;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 2px;
}

.parent { 
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-right: 10px;
    max-width: 180px;
    margin-bottom: 5px;
}